<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinhanexample">

    <application
        android:name=".mvvmTodo.TodoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JinhanExample">
        <activity android:name=".mvvmTodo.ui.MVVMTodoActivity"></activity>
        <activity android:name=".recyclerView.dragAndSwipe.DragAndSwipeRecyclerViewActivity" />
        <activity android:name=".recyclerView.grouping.GroupingRecyclerViewActivity" />
        <activity
            android:name=".scrollview.CollapsingScrollView2Activity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".recyclerView.RecyclerViewChildControlActivity" />
        <activity android:name=".recyclerView.RecyclerViewActivity" />
        <activity android:name=".animation.LockedBottomSheetActivity" />
        <activity android:name=".animation.ImageSlideActivity" />
        <activity android:name=".calendar.CustomCalendarActivity" />
        <activity android:name=".middleClass.ThreadActivity" />
        <activity android:name=".middleClass.MiddleClassActivity" />
        <activity android:name=".fragment.callback.FragmentCallBackActivity" />
        <activity android:name=".fragment.BaseFragmentActivity" />
        <activity android:name=".fragment.RecyclerViewFragmentActivity" />
        <activity android:name=".fragment.ColorFragmentActivity" />
        <activity android:name=".stopWatch.StopWatchActivity" />
        <activity android:name=".codingLecture.intent.IntentActivity2" />
        <activity android:name=".codingLecture.intent.IntentActivity" />
        <activity android:name=".codingLecture.CodingLectureMainActivity" />
        <activity android:name=".jetBrain.shoppingList.ShoppingList" />
        <activity android:name=".jetBrain.JetBrainBaseActivity" />
        <activity android:name=".textView.EditTextUnderlineColorChange" />
        <activity android:name=".textView.TextViewListActivity" />
        <activity android:name=".textView.EditTextCharChange" />
        <activity android:name=".viewPager.fragmentTrans.FragmentTransViewPager" />
        <activity android:name=".floatingButton.FloatingAnimationActivity" />
        <activity android:name=".floatingButton.ExpandFloatingButton" />
        <activity android:name=".floatingButton.BaseFloatingButtonActivity" />
        <activity android:name=".viewPager.depth.DepthPageViewPager" />
        <activity android:name=".viewPager.BaseViewPagerActivity" />
        <activity android:name=".animation.BaseAnimationActivity" />
        <activity android:name=".animation.ScaleAnimation" />
        <activity android:name=".tablayout.BaseTabLayout" />
        <activity android:name=".tablayout.CircleTabIndicator" />
        <activity android:name=".tablayout.RectangleTabIndicator" />
        <activity android:name=".scrollview.ScrollingShowAnimation" />
        <activity android:name=".scrollview.StickyScrollView" />
        <activity
            android:name=".scrollview.CollapsingToolbarLayout"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".scrollview.BaseScrollViewAnimation" />
        <activity android:name=".mpchart.MPChartCubic" />
        <activity android:name=".mpchart.MPChartList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>