<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinhanexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".mvvmTodo.TodoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JinhanExample"
        android:usesCleartextTraffic="true">
        <activity android:name=".holiday.HolidayDataActivity"></activity>
        <activity
            android:name=".scrollview.StickyScrollViewSecond.StickyScrollViewSecondActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".scrollview.appBarHideSecond.AppBarHideSecondActivity" />
        <activity android:name=".viewPager.BaseViewPagerActivity" />
        <activity android:name=".touch.TouchTestActivity" />
        <activity android:name=".playground.KotlinPlayGroundActivity">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
<!---->
<!---->
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".viewPager.survey.container.ViewPagerQuestionBaseActivity" />
        <activity android:name=".string.StringFormatActivity" />
        <activity android:name=".string.StringBaseActivity" />
        <activity android:name=".eventBus.EventBusSampleActivityJava" />
        <activity android:name=".eventBus.EventBusSampleActivityKotlin" />
        <activity android:name=".eventBus.EventBusBaseActivity" />
        <activity android:name=".service.ServiceBaseActivity" />
        <activity android:name=".broadcast.BroadCastActivityJava" />
        <activity android:name=".broadcast.BroadCastBaseActivity" />
        <activity android:name=".broadcast.BroadCastActivityKotlin" />
        <activity android:name=".video.ExoPlayerActivity" />
        <activity android:name=".login.email.EmailSpinnerActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".customView.activityPopup.PopupLayoutActivity" />
        <activity
            android:name=".customView.activityPopup.ShowPopup"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".customView.changeViewSizeBySeekBar.ChangeViewSizeBySeekBarJava" />
        <activity android:name=".video.VideoBaseActivity" />
        <activity android:name=".video.VideoAudioFocusControlJava" />
        <activity android:name=".video.VideoAudioFocusControlKotlin" />
        <activity android:name=".recyclerView.tagView.TagViewActivityJava" />
        <activity android:name=".recyclerView.tagView.TagViewActivity" />
        <activity android:name=".recyclerView.flexBoxRecyclerView.FlexRecyclerViewActivity" />
        <activity android:name=".hybrid.HybridWebViewActivity" />
        <activity android:name=".hybrid.HybridWebViewActivityJava" />
        <activity android:name=".customChart.stockChart.StockChartTradingViewSearch" />
        <activity android:name=".clonePackageReading.ReadingIsPowerActivity" />
        <activity android:name=".viewPager.viewPager2.ViewPager2Activity" />
        <activity android:name=".viewControl.layoutParams.LayoutParamsActivityKotlin" />
        <activity android:name=".viewControl.layoutParams.LayoutParamsActivityJava" />
        <activity android:name=".viewControl.ViewControlActivity" />
        <activity android:name=".customChart.varChart.BarChartViewActivity" />
        <activity android:name=".scrollview.appBarHide.AppBarHideAnimationActivity" />
        <activity android:name=".customView.compoundView.CompoundViewActivity" />
        <activity android:name=".customView.CustomViewActivity" />
        <activity android:name=".customChart.stockChart.StockChartActivity" />
        <activity android:name=".animation.customLoadingView.CustomLoadingViewActivity" />
        <activity android:name=".viewPager.flexibleHeight.FlexibleViewPagerHeightActivity" />
        <activity android:name=".designPattern.composite.java.CompositeClientJava" />
        <activity android:name=".designPattern.adapter.kotlin.AdapterDesignPatternActivityKotlin" />
        <activity android:name=".designPattern.adapter.java.AdapterDesignPatternActivityJava" />
        <activity android:name=".draw.line.DrawLineActivity" />
        <activity android:name=".customChart.fiveDayChart.FiveDayChartActivity" />
        <activity android:name=".customChart.CustomChartActivity" />
        <activity android:name=".draw.rect.RectActivity" />
        <activity android:name=".draw.DrawActivity" />
        <activity android:name=".animation.progress.circle.CircleProgressAnimActivity" />
        <activity android:name=".animation.progress.ValueAnimProgressBarActivity" />
        <activity android:name=".mvvmSample.java.author.ui.AuthorAddActivity" />
        <activity android:name=".mvvmSample.java.author.ui.AuthorActivityByJava" />
        <activity android:name=".mvvmSample.kotlin.author.ui.AuthorAddActivity" />
        <activity android:name=".mvvmSample.kotlin.author.ui.AuthorActivityByKotlin" />
        <activity android:name=".designPattern.factory.FactoryPatternActivity" />
        <activity android:name=".designPattern.DesignPatternActivity" />
        <activity android:name=".draw.layoutParams.DrawLayoutParamsActivity" />
        <activity android:name=".mpchart.calendar.CalendarMPChartActivity" />
        <activity android:name=".mpchart.MPChartCandle" />
        <activity android:name=".animation.animBuilder.AnimBuilderClassActivity" />
        <activity android:name=".mvvmTodo.ui.MVVMTodoActivity" />
        <activity android:name=".recyclerView.dragAndSwipe.DragAndSwipeRecyclerViewActivity" />
        <activity android:name=".recyclerView.grouping.GroupingRecyclerViewActivity" />
        <activity
            android:name=".scrollview.CollapsingScrollView2Activity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".recyclerView.RecyclerViewChildControlActivity" />
        <activity android:name=".recyclerView.RecyclerViewActivity" />
        <activity android:name=".animation.LockedBottomSheetActivity" />
        <activity android:name=".animation.ImageSlideActivity" />
        <activity android:name=".calendar.CustomCalendarActivity" />
        <activity android:name=".middleClass.ThreadActivity" />
        <activity android:name=".middleClass.MiddleClassActivity" />
        <activity android:name=".fragment.callback.FragmentCallBackActivity" />
        <activity android:name=".fragment.BaseFragmentActivity" />
        <activity android:name=".fragment.RecyclerViewFragmentActivity" />
        <activity android:name=".fragment.ColorFragmentActivity" />
        <activity android:name=".stopWatch.StopWatchActivity" />
        <activity android:name=".codingLecture.intent.IntentActivity2" />
        <activity android:name=".codingLecture.intent.IntentActivity" />
        <activity android:name=".codingLecture.CodingLectureMainActivity" />
        <activity android:name=".jetBrain.shoppingList.ShoppingList" />
        <activity android:name=".jetBrain.JetBrainBaseActivity" />
        <activity android:name=".textView.EditTextUnderlineColorChange" />
        <activity android:name=".textView.TextViewListActivity" />
        <activity android:name=".textView.EditTextCharChange" />
        <activity android:name=".viewPager.fragmentTrans.FragmentTransViewPager" />
        <activity android:name=".floatingButton.FloatingAnimationActivity" />
        <activity android:name=".floatingButton.ExpandFloatingButton" />
        <activity android:name=".floatingButton.BaseFloatingButtonActivity" />
        <activity android:name=".viewPager.depth.DepthPageViewPager" />
        <activity android:name=".animation.BaseAnimationActivity" />
        <activity android:name=".animation.ScaleAnimation" />
        <activity android:name=".tablayout.BaseTabLayout" />
        <activity android:name=".tablayout.CircleTabIndicator" />
        <activity android:name=".tablayout.RectangleTabIndicator" />
        <activity android:name=".scrollview.ScrollingShowAnimation" />
        <activity android:name=".scrollview.StickyScrollView" />
        <activity
            android:name=".scrollview.CollapsingToolbarLayout"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".scrollview.BaseScrollViewAnimation" />
        <activity android:name=".mpchart.MPChartCubic" />
        <activity android:name=".mpchart.MPChartList" />
        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jinhanexample.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>